body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-row {
  display: flex !important;
  flex-direction: row;
}
#footer {
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  color: gray;
  text-align: center;
  background-color: white;
}

.ui header{
  text-align: center;
}